<footer>
    <section class="wrapper clearfix">
        <div class="widget sobre">
            <h3>Sobre a Pinheiro's Contabilidade</h3>
            <p>
                A Pinheiro's Contabilidade é uma empresa de prestação de serviços contábeis,
                fiscais, trabalhistas, societários e administrativos, devidamente
                registrada no Conselho Regional de Contabilidade do Ceará, sob o registro nº XXXXXX/X.
            </p>
        </div>


        <div class="widget">
            <h3 class="contato">Entre em Contato</h3>
            <p class="contato">
                Estamos estabelecidos na Av. Exemplo, 1234 - Centro em Solonópole (CE).
                <br>
                Fones: (XX) XXXX XXXX / XXXX XXXX
            </p>
        </div>

        <div class="widget social">
            <h3 class="social">Social</h3>
            <a href="#" class="social-icon"><img src="{{ STATIC_URL }}images/social/facebook.png" alt="facebook"/></a>
            <a href="#" class="social-icon"><img src="{{ STATIC_URL }}images/social/twitter.png" alt="twitter"/></a>
            <a href="#" class="social-icon"><img src="{{ STATIC_URL }}images/social/googleplus.png" alt="google plus"/></a>
        </div>
    </section>
    <section class="bottom">
        © 2017 Pinheiro's Contabilidade.
    </section>
</footer>