<section class="topo_menu">
        <nav class="menu clearfix">
            <ul>
                <li {% if page == 'home' %}class="active"{% endif %}> <a href="{% url 'home' %}">Home</a> </li>
                <li {% if page == 'pinheiros' %}class="active"{% endif %}> <a href="{% url 'pinheiros' %}">Pinheiro's</a> </li>
                <li {% if page == 'servicos' %}class="active"{% endif %}> <a href="{% url 'servicos' %}">Serviços</a> </li>
                <li {% if page == 'cliente' %}class="active"{% endif %}> <a href="{% url 'cliente' %}">Cliente</a> </li>
                <li {% if page == 'contato' %}class="active"{% endif %}> <a href="{% url 'contato' %}">Contato</a> </li>
            </ul>
        </nav>
</section>