{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans "Pinheiro's Contabilidade" %}{% endblock %}

{% block branding %}
<a href="/">
<h1 id="site-name">{% trans "Pinheiro's Contabilidade" %}</h1>
</a>
{% endblock %}

{% block nav-global %}{% endblock %}