<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | Pinheiros Contabilidade</title>
        <script src="{{ STATIC_URL }}js/css_browser_selector.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery-1.10.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>

        {% block content %}{% endblock %}

    </body>
</html>