{% extends 'n_base.html' %}

{% block title %}Cliente{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $("#accordion").accordion({header: "h3", heightStyle: "content", navigation: true});
        });
    </script>
{% endblock %}

{% block menu %} {% include 'include/menu.html' with page='cliente' %} {% endblock %}

{% block content %}

    <section class="wrapper clearfix clientes">

        <h2>Cliente</h2>
        <hr>

        <div id="accordion">
            <h3>Informações importantes</h3>

            <p>
                Todos os documentos aqui mencionados devem ser enviados para o
                escritório até o dia 5 de cada mês. <br/>
                1. Movimentação financeira e bancária (Mensal) - Conta Pessoa Jurídica <br/>
                2. Outros Pagamentos (Mensal) em nome da empresa: Recibos de pagamento d’agua; de energia,
                telefone,
                material de expediente, dentre outras despesas efetuadas pela empresa. <br/>
                Todas as Notas Fiscais de entrada e saída de mercadorias, ativo imobilizado e serviços.
                Estes documentos devem ser ordenados cronologicamente e as Notas Fiscais de saída canceladas
                também deverão ser encaminhadas. <br/>
                A ordenação é importante para se evitar falta de envio e de registro de documentos. <br/>
                Todas as empresas, <strong>inclusive as microempresas</strong>, deverão ter conta bancária
                em seu nome, com o
                seu CNPJ, sendo proibida a utilização da conta empresa para o pagamento de contas particulares dos
                sócios e vice-versa.
            </p>
            <div>
                <h3>SPED - Sistema Público de Escrituração Digital</h3>
                <div>
                    <table class="t-info">
                        <tr>
                            <th>Declarações</th>
                            <th>Prazo de Entrega</th>
                            <th>Multa pela não entrega</th>
                        </tr>
                        <tr>
                            <td>Sped fiscal</td>
                            <td>15º dia do mês sequente</td>
                            <td>R$ 500,00 mensal</td>
                        </tr>
                        <tr>
                            <td>Sped Contábil</td>
                            <td>Último dia útil do mês de junho do ano seguinte.</td>
                            <td>R$ 5.000,00 mensal</td>
                        </tr>
                        <tr>
                            <td>Sped pis/cofins</td>
                            <td>10º dia do mês subsequente</td>
                            <td>R$ 5.000,00 mensal</td>
                        </tr>
                        <tr>
                            <td>Sped Social</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <h3>Tabela CST (ICMS) – Sped Fiscal (códigos a que se refere o art. 230 deste Regulamento)</h3>
                <div>
                    <em>a) Origem da mercadoria</em>
                    <table class="t-info">
                        <tr>
                            <th>Código</th>
                            <th>Origem</th>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td>Nacional</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Estrangeira - Importação direta</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Estrangeira - Adquirida no mercado interno</td>
                        </tr>
                    </table>
                    <em>b) Tributação pelo ICMS</em>
                    <table class="t-info">
                        <tr>
                            <th>Código</th>
                            <th>Tratamento tributário</th>
                        </tr>
                        <tr>
                            <td>00</td>
                            <td>Tributada integralmente</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Tributada e com cobrança do ICMS por substituição tributária</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>Com redução de base de cálculo</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>Isenta ou não tributada e com cobrança do ICMS por substituição tributária</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>Isenta</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>Não tributada</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>Suspensão</td>
                        </tr>
                        <tr>
                            <td>51</td>
                            <td>Diferimento</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>ICMS cobrado anteriormente por substituição tributária</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>Com redução de base de cálculo e cobrança do ICMS por substituição tributária</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>Outras</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <h3>Tabela CST – Sped Contribuições (Pis/Cofins) – Empresas do Lucro Presumido</h3>
                <div>
                    <em>a) Origem da mercadoria</em>
                    <table class="t-info">
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                        </tr>
                        <tr>
                            <td>01</td>
                            <td>Operação Tributável com Alíquota Básica</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>Operação Tributável com Alíquota Diferenciada</td>
                        </tr>
                        <tr>
                            <td>03</td>
                            <td>Operação Tributável com Alíquota por Unidade de Medida de Produto</td>
                        </tr>
                        <tr>
                            <td>04</td>
                            <td>Operação Tributável Monofásica - Revenda a Alíquota Zero</td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>Operação Tributável por Substituição Tributária</td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>Operação Tributável a Alíquota Zero</td>
                        </tr>
                        <tr>
                            <td>07</td>
                            <td>Operação Isenta da Contribuição</td>
                        </tr>
                        <tr>
                            <td>08</td>
                            <td>Operação sem Incidência da Contribuição</td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>Operação com Suspensão da Contribuição</td>
                        </tr>
                        <tr>
                            <td>49</td>
                            <td>Outras Operações de Saída</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>Operação de Aquisição sem Direito a Crédito</td>
                        </tr>
                        <tr>
                            <td>71</td>
                            <td>Operação de Aquisição com Isenção</td>
                        </tr>
                        <tr>
                            <td>72</td>
                            <td>Operação de Aquisição com Suspensão</td>
                        </tr>
                        <tr>
                            <td>73</td>
                            <td>Operação de Aquisição a Alíquota Zero</td>
                        </tr>
                        <tr>
                            <td>74</td>
                            <td>Operação de Aquisição sem Incidência da Contribuição</td>
                        </tr>
                        <tr>
                            <td>75</td>
                            <td>Operação de Aquisição por Substituição Tributária</td>
                        </tr>
                        <tr>
                            <td>98</td>
                            <td>Outras Operações de Entrada</td>
                        </tr>
                        <tr>
                            <td>99</td>
                            <td>Outras Operações</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div>
                <h3>Demais prazos</h3>
                <div>
                    <table class="t-info">
                        <tr>
                            <th>Declarações</th>
                            <th>Prazo de Entrega</th>
                            <th>Multa pela não entrega</th>
                        </tr>
                        <tr>
                            <td>DCTF</td>
                            <td>15º dia do mês sequente</td>
                            <td>R$ 500,00 mensal</td>
                        </tr>
                        <tr>
                            <td>Dacon</td>
                            <td>5º dia do mês sequente</td>
                            <td>R$ 500,00 mensal</td>
                        </tr>
                        <tr>
                            <td>Caged</td>
                            <td>7º dia do mês sequente</td>
                            <td>R$ 55,00 por funcionário</td>
                        </tr>
                        <tr>
                            <td>Sefip</td>
                            <td>7º dia do mês sequente</td>
                            <td>R$ 500,00 mensal</td>
                        </tr>
                        <tr>
                            <td>Dief</td>
                            <td>15º dia do mês sequente</td>
                            <td>R$ 805,95</td>
                        </tr>
                        <tr>
                            <td>DIRF</td>
                            <td>Anual</td>
                            <td>R$ 500,00</td>
                        </tr>
                        <tr>
                            <td>DIPJ</td>
                            <td>Anual</td>
                            <td>R$ 500,00</td>
                        </tr>
                        <tr>
                            <td>Rais</td>
                            <td>Anual</td>
                            <td>R$ 71,00</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <hr style="clear:both;margin-bottom: 30px; ">

    </section>
{% endblock %}