{% extends 'n_base.html' %}

{% block title %}Contato{% endblock %}

{% block extra_head %}

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjPH2JvspGAPBXktVilNV8OrF_881IKrM&sensor=true"></script>
    <script type="text/javascript">
        function initialize() {
          var center = new google.maps.LatLng(-4.968557, -39.016149);

          var mapOptions = {
            zoom: 16,
            center: center
          };

          var map = new google.maps.Map(document.getElementById('map'),
              mapOptions);

          var marker = new google.maps.Marker({
            position: center,
            map: map
          });

        }

        function loadScript() {
          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
              'callback=initialize';
          document.body.appendChild(script);
        }

        window.onload = loadScript;

    </script>

{% endblock %}

{% block menu %} {% include 'include/menu.html' with page='contato' %} {% endblock %}

{% block content %}

    <section class="wrapper clearfix contato">

        <h2>Contato</h2>
        <hr>
        <div id="tab-fortaleza" class="clearfix">
            <section class="map_clinica" id="map">

            </section>

            <section class="contato clearfix">
                <h2 class="fleft gray title_small">Informações de Contato</h2>
                <p class="clear">
                    Av. Exemplo, 1234 <br/>
                    Centro/Solonópole - CE
                </p>
                <hr>
                <p>
                    Fones (XX) XXXX XXXX | XXXX XXXX
                </p>
                <hr>
                <p>
                    contato@pinheiroscontabil.com.br
                </p>
            </section>

            <section class="mensagem">
                <h2 class="fleft gray title_small">Mande uma mensagem</h2>
                 {% if messages %}
                    <ul class="messages clear">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                 {% endif %}

                 <form method="POST" class=" clear">
                    {% csrf_token %}
                    <fieldset class="first">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" placeholder="Nome" name="nome">
                    </fieldset>
                    <fieldset>
                        <label for="nome">Telefone</label>
                        <input type="text" id="telefone" placeholder="Telefone" name="telefone">
                    </fieldset>
                    <label for="email">E-mail</label>
                    <input type="text" id="email" placeholder="E-mail" name="email">
                    <label for="mensagem">Mensagem</label>
                    <textarea id="mensagem" placeholder="Mensagem" name="mensagem"></textarea>
                    <input type="submit" value="Enviar Mensagem">
                 </form>
            </section>

        </div>

    </section>
{% endblock %}