{% extends 'n_base.html' %}

{% block title %}Sobre a Pinheiro's Contábil{% endblock %}

{% block extra_head %} {% endblock %}

{% block menu %} {% include 'include/menu.html' with page='pinheiros' %} {% endblock %}

{% block content %}

    <section class="wrapper clearfix faheina">

        <h2>Sobre a Pinheiro's</h2>
        <hr>
        <section class="sobre-faheina clearfix">
            <img src="{{ STATIC_URL }}images/next.png"/>
            <p>
                A Pinheiro's Contábil é uma empresa de prestação de serviços contábeis, 
                fiscais, trabalhistas, societários e administrativos, devidamente
                registrada no Conselho Regional de Contabilidade do Ceará, sob o registro nº XXXXXX/X.
                <br><br>
                Prestamos serviços desde XXXX à classe empresarial.
                <br><br>
                <strong>Equipe Pinheiro's:</strong>
                <br><br>
                Fulano da Silva, contador, sob registro CRC/CE: XX.XXXX, atuante na área desde 20XX. Graduado Bacharel em Ciências Contábeis.
                <br><br>
                Fulano da Silva, contador, sob registro CRC/CE: XX.XXXX, atuante na área desde 20XX. Graduado Bacharel em Ciências Contábeis.
                <br><br>
                Fulano da Silva, contador, sob registro CRC/CE: XX.XXXX, atuante na área desde 20XX. Graduado Bacharel em Ciências Contábeis.
                <br><br>
                Fulano da Silva, contador, sob registro CRC/CE: XX.XXXX, atuante na área desde 20XX. Graduado Bacharel em Ciências Contábeis.
            </p>
            </p>
        </section>
        <hr>

        <section class="equipe-faheina">
            <h2>Equipe</h2>
            <hr>
                <img src="{{ STATIC_URL }}css/images/fundo-branco.png">
            <hr>
        </section>

    </section>
{% endblock %}