{% extends 'base.html' %}

{% block title %}Boas Festas{% endblock %}

{% block content %}

    <section class="wrapper clearfix">

        <img src="{{ STATIC_URL }}images/enfeite.png" alt="Efeite Natalino" class="enfeite topo"/>

        <div class="logo">
            <img src="{{ STATIC_URL }}images/faheina.png" alt="Faheina Contabilidade" class="logo"/>
            <img src="{{ STATIC_URL }}images/chapeu.png" alt="Chapéu" class="chapeu"/>
        </div>

        <div class="content">
            <p class="info">
                Queridos clientes, <br><br>
                Agradecemos a sua presença, amizade e confiança<br>
                durante todo o ano de 2013.<br>
                Que o Natal seja um momento de luz e harmonia.<br>
                Que em 2014 possamos compartilhar novas conquistas.<br><br>
                Feliz Natal, boas festas e um ótimo ano novo<br>
                para vocês e sua família!
            </p>
            <p>
                Nosso site está em construção, mas você pode entrar<br>
                em contato com a gente pelo formulário ao lado.
            </p>
        </div>

        <div class="contact">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <fieldset class="first">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" placeholder="Nome" name="nome">
                </fieldset>
                <fieldset>
                    <label for="nome">Telefone</label>
                    <input type="text" id="telefone" placeholder="Telefone" name="telefone">
                </fieldset>
                <label for="email">E-mail</label>
                <input type="text" id="email" placeholder="E-mail" name="email">
                <label for="mensagem">Mensagem</label>
                <textarea id="mensagem" placeholder="Mensagem" name="mensagem"></textarea>
                <input type="submit" value="Enviar Contato">
            </form>
        </div>

        <img src="{{ STATIC_URL }}images/papainoel.png" alt="Papai Noel" class="papainoel"/>
        <img src="{{ STATIC_URL }}images/arvoredenatal.png" alt="Ávore de Natal" class="arvoredenatal"/>
    </section>

    <footer>

        <p>
            Av. Dom Aureliano Matos, 2316 - Centro/Limoeiro do Norte - CE

            |

            (88) 3423 4683 / 3423 2931

            |

            zumirafaheina@hotmail.com
        </p>
    </footer>

{% endblock %}