<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | Pinheiro's Contábil</title>
        <meta name="robots" content="index,follow">
        <meta name="author" content="Roove Desenvolvimento">
        <meta name="description" content="Pinheiro's Contábil - A melhor assistência contábil para você e sua empresa">
	    <meta name="keywords" content="pinheiro, pinheiro's, contabilidade, pinheiro contabilidade, contábil, assistência contábil, sped">
        <meta property="og:image" content="http://files.pinheirocontabil.com.br/images/faheina.png"/>
        <meta property="og:site_name" content="Pinheiro's Contábil"/>
        <meta property="og:type" content="website"/>
        <script src="{{ STATIC_URL }}js/css_browser_selector.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/custom_2.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/vendor/jquery-1.10.1.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>

        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <header>
            <section class="top-info wrapper">
                <img src="{{ STATIC_URL }}images/home.png" alt="endereço" /> Av. Exemplo, 1234 - Centro/Solonópole - CE

                <img src="{{ STATIC_URL }}images/fone.png" alt="telefone" style="width: 9px; margin-left: 5px;" /> (XX) XXXX XXXX / XXXX XXXX

                <img src="{{ STATIC_URL }}images/mail.png" alt="email" style=" margin-left: 5px;"/> contato@pinheiroscontabil.com.br
            </section>
            <div class="line-gray-small"></div>
            <section class="top-bar wrapper clearfix">
                <section class="logo">
                    <img src="{{ STATIC_URL }}images/pinheiros.png">
                </section>
                {% block menu %} {% include 'include/menu.html' %} {% endblock %}
            </section>
            <div class="line-gray"></div>
        </header>

        {% block content %}{% endblock %}

        {% include 'include/footer.html' %}

    </body>
</html>