{% extends 'n_base.html' %}

{% block title %}Início{% endblock %}

{% block menu %} {% include 'include/menu.html' with page='home' %} {% endblock %}

{% block content %}

    {% if fotosSlider %}
        <div id="slider">

            {% for f in fotosSlider %}
                <div class="item_slider" style="background: {% if f.thumb %} url({{ f.thumb.url }}){% else %} black {% endif %};background-size: 100% 100%" >
                    <p class="title">
                        {{ f.titulo }}
                    </p>

                    <p>
                        {{ f.sobre|linebreaksbr }}
                    </p>
                    {% if f.link %}
                        <a href="{{ f.link }}" target="_blank">
                            <div class="box yellow">
                                Saiba mais
                            </div>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}

            {% if fotosSlider.count > 1 %}
                <a href="#anterior"><img src="{{ STATIC_URL }}images/slider/seta_esquerda.png" class="arrow left"/></a>
                <a href="#proxima"><img src="{{ STATIC_URL }}images/slider/seta_direita.png" class="arrow right"/></a>
            {% endif %}
        </div>
    {% endif %}

    <section class="wrapper servicos-index clearfix">
        <h2>Compromisso Pinheiro's Contabilidade</h2>
        <hr>
            <section class="item">
                <h3>Links rápidos</h3>
                <ul class="links">
                    <li><a target="_blank" href="http://www.receita.fazenda.gov.br/">Receita Federal</a></li>
                    <li><a target="_blank" href="http://www.sefaz.ce.gov.br/content/aplicacao/internet/principal/enviados/index.asp?">Sefaz</a></li>
                    <li><a target="_blank" href="http://www.caixa.gov.br/">Caixa</a></li>
                    <li><a target="_blank" href="http://www.receita.fazenda.gov.br/PessoaJuridica/CNPJ/cnpjreva/Cnpjreva_Solicitacao.asp">CNPJ</a></li>
                    <li><a target="_blank" href="https://www.sefaz.ce.gov.br/content/aplicacao/internet/servicos_online/FIC/aplic/Solicitacao_FIC.asp ">Inscrição Estadual</a></li>
                    <li><a target="_blank" href="http://www.solonopole.ce.gov.br/">Prefeitura Solonópole</a></li>

                </ul>
            </section>

            <section class="item">
                <h3>Certidões Negativas</h3>
                <ul class="links">
                    <li><a target="_blank" href="https://www.sifge.caixa.gov.br/Cidadao/Crf/FgeCfSCriteriosPesquisa.asp">Caixa</a></li>
                    <li><a target="_blank" href="https://www.sefaz.ce.gov.br/content/aplicacao/internet/servicos_online/certidao/emissao/default.asp?ca=AP6389858?8??88;3A7A7B3A5B7B8%3E8@857A@97B8?4?5B7B8%3E8@8582857@7%3E7A8;8?">SEFAZ</a></li>
                    <li><a target="_blank" href="http://www010.dataprev.gov.br/CWS/CONTEXTO/PCND1/PCND1.HTML">Previdência (INSS)</a></li>
                    <li><a target="_blank" href="http://www010.dataprev.gov.br/cws/contexto/cnd/cnd.html">Previdência (INSS) <em> - 2ª via</em></a></li>
                    <li><a target="_blank" href="http://www.receita.fazenda.gov.br/aplicacoes/ATSPO/certidao/CndconjuntaInter/InformaNICertidao.asp?Tipo=1">Receita (Conjunta)</a></li>
                    <li><a target="_blank" href="http://www.receita.fazenda.gov.br/Aplicacoes/ATSPO/Certidao/CNDConjuntaSegVia/NICertidaoSegVia.asp?Tipo=1">Receita (Conjunta) <em> - 2ª via</em></a></li>
                    <li><a target="_blank" href="http://www.tst.jus.br/en/certidao">Trabalhista</a></li>
                </ul>
            </section>

            <section class="item">
                <h3>Área do Cliente</h3>
                <ul class="links">
                    <li><a target="_blank" href="http://fortesdrive.com.br/">Fortes drive</a></li>

                </ul>
            </section>
            <style>
                .destaque-item{ background: #e5e5e5; padding: 5px; border-radius: 5px;  height: 100px; }
            </style>
            <section class="item destaque-item" style="clear:both; margin-left: 5px; ">
                <h3>Pinheiro's Contabilidade e o Cliente</h3>
                <p>
                    Trabalhar com ética e transparência;
                    aprimorar constantemente o conhecimento técnico e
                    jurídico e agir com comprometimento e responsabilidade
                    social.
                </p>
            </section>

            <section class="item destaque-item">
                <h3>Missão</h3>
                <p>
                    Promover serviços e soluções que atendam e
                    satisfaçam as necessidades dos nossos clientes.
                </p>
            </section>

            <section class="item destaque-item" >
                <h3>Visão</h3>
                <p>
                    Queremos ser reconhecidos como uma empresa
                    cidadã, que gera valor aos nossos clientes
                    sendo referência de excelência em serviços contábeis.
                </p>
            </section>
        <hr>
    </section>

    <section class="wrapper clientes-index">
        <h2>Nossos Clientes</h2>
        <hr style="margin-bottom: 32px;">
        <div class="item">
            <img src="{{ STATIC_URL }}images/pinheiros.png">
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}images/pinheiros.png">
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}images/pinheiros.png">
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}images/pinheiros.png">
        </div>
        <div class="item">
            <img src="{{ STATIC_URL }}images/pinheiros.png">
        </div>
        <hr>
    </section>


{% endblock %}