{% extends 'n_base.html' %}

{% block title %}Serviços{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <script>
        $(function () {
            $('.servicos .lista-servicos li a').click(function () {
                $('.servicos .conteudo-servico section').each(function () {
                    $(this).css("display", "none");
                });
                var id = $(this).attr('href');
                $(id).css("display", "inline");
                return false;
            });
        });

        $(function () {
            $("#accordion").accordion();
        });
    </script>
{% endblock %}

{% block menu %} {% include 'include/menu.html' with page='servicos' %} {% endblock %}

{% block content %}

    <section class="wrapper clearfix servicos">

        <h2>Nossos Serviços</h2>
        <hr>
                <section class="fleft lista-servicos clearfix">
                    <ul class="clearfix">
                        {% for s in servicos %}
                            <li><a href="#{{ s.slug }}">{{ s.titulo }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="fright conteudo-servico clearfix">
                    <section>
                        Selecione uma área ao lado para mais informações.
                    </section>
                    {% for s in servicos %}
                        <section id="{{ s.slug }}" style="display: none;">
                            <h2>{{ s.titulo }}</h2>
                            <p>
                                {{ s.sobre|safe }}
                            </p>
                        </section>
                    {% endfor %}
                </section>
                <hr style="clear:both;margin-bottom: 30px; ">
        <div style="display: none;">
            <h2>Documentos necessários para uma contabilidade eficaz</h2>
            <hr>
            <p style="margin-bottom: 25px">
                Toda a empresa constituída tem a obrigação em manter a escrituração fiscal, contábil e trabalhista,
                com base na legislação vigente. Para que as informações contábeis da empresa sejam geradas corretamente
                é indispensável que seja encaminhado em tempo hábil ao escritório, os seguintes documentos: <br><br>

                <strong>1 - </strong> Notas Fiscais de entrada (compras para revenda, industrialização, uso e consumo,
                transferências, amostras,
                bonificações, ou quaisquer outra natureza de operação adquirida pelo estabelecimento);<br><br>

                <strong>2 - </strong> Na aquisição de imobilizado, tais como: veículos, máquinas, equipamentos, bens
                móveis e imóveis, devem
                ser enviados, Recibos de transferência, escrituras, contratos de compra e venda, notas fiscais,
                promissórias;
                <br><br>

                <strong>3 - </strong> Financiamentos que a empresa venha a contrair com alguma instituição financeira,
                bem como seus pagamentos;
                <br><br>

                <strong>4 - </strong> Extratos bancários mensais de toda movimentação financeira da empresa; (toda a
                movimentação bancária
                deve estar devidamente comprovada na contabilidade); <br><br>

                <strong>5 - </strong> Despesas mensais da empresa: recibos de luz, água, telefone, aluguel, fretes,
                folhas de pagamento dos
                funcionários, combustível (quando a atividade exigir), reparos, entre outras despesas que venham a
                ocorrer;
                <br><br>

                <strong>6 - </strong> Impostos e contribuições pagos.
                <br><br>

                As informações serão escriturados em livros fiscais, que serão registrados, para que produzem os
                efeitos legais e de direito, e que ficarão à disposição do fisco durante o período de 05 (cinco) anos.
                <br>
                Diante a importância do assunto, solicitamos que o empresário envie toda a documentação solicitada e
                dentro
                do prazo, para que possamos prestar um serviço de qualidade para sua empresa.
            </p>
        </div>
    </section>
{% endblock %}