html, body { height: 100%; min-width: 1000px;margin: 0; padding: 0; font-family: 'Open Sans'; font-size: 12px; color: #333333;}
b, strong{ font-weight: bold; }
.wrapper{ width: 850px; margin: 0 auto; }
.fleft{ float: left; }
.fright{ float: right; }
.clear{ clear: both; }
.title_small{ font-size: 18px; margin-bottom: 25px; }
h2{ color: #5F5D5D; }
h2 + hr{ margin-top: 3px; }
ul{ padding: 0; }
ul, li, ol{ list-style: none; }
ul.messages{ margin: -37px 0 0 0; }
ul.messages > li{ margin-bottom: 5px; font-weight: bold; }
ul.messages > li.success{ color: #08700c; }
ul.messages > li.error{ color: #CE3131; margin-bottom: 21px; }
.box{ float: left; clear:both; padding: 10px 16px; font-size: 17px; color: #eee; box-shadow: 0px 0px 10px 1px #333; }
.red{ background: #9d3133;  padding: 15px 20px; font-size: 21px; } .yellow{  background: #3e58a5; padding: 7px 16px; font-size: 18px; }
h4.title-table{ margin-top: 15px; margin-bottom: 10px }
.t-info, .t-info th, .t-info td{ border: 1px solid #e5e5e5;}
.t-info th{ font-weight: bold; }
.t-info th, .t-info td{ padding: 10px; }

/* LINKS */
.links li{ padding: 7px 6px; border-bottom: 1px solid #eee; }
.links li:hover{ background: #eee; }
.links li a{ color: #5F5D5D; font-size: 13px; }
.links li:hover a{ color: #222; }

/* SERVIÇOS */

.lista-servicos{ width: 200px; margin-bottom: 25px;}
.lista-servicos li{ padding: 10px 6px; border-bottom: 1px solid #eee; }
.lista-servicos li a{ color: #5F5D5D; font-size: 14px; }
.lista-servicos li:hover{ background: #eee; }
.lista-servicos li:hover a{ color: #222; }
.conteudo-servico{ width: 600px; }
.conteudo-servico h2{ margin-bottom: 20px; }
.conteudo-servico li{ list-style: circle; }
.conteudo-servico section > p:last-child{ margin-bottom: 20px; }

/* CLIENTE */

.lista-documentos{ width: 100%; margin-bottom: 25px;}
.lista-documentos li{ padding: 10px 6px; border-bottom: 1px solid #eee; }
.lista-documentos li a{ color: #5F5D5D; font-size: 14px; }
.lista-documentos li:hover{ background: #eee; }
.lista-documentos li:hover a{ color: #222; }
.clientes p.info{ margin-top: 5px; margin-bottom: 10px; }

/* INDEX */

.servicos-index{ margin-bottom: 35px; }
.servicos-index .item{ width: 255px; float:left; margin-left: 20px; margin-top: 20px}
.servicos-index .item h3{ color: #5F5D5D; margin-bottom: 10px;}
.servicos-index .item p{ font-size: 11px; }

.clientes-index{ margin-bottom: 35px;  }
.clientes-index .item{ border: 1px solid #e5e5e5; border-radius: 3px; display: inline-block; margin-left: 20px; margin-bottom: 20px; background: #e5e5e5; padding: 4px;}
.clientes-index .item img{ width: 135px; }

/* FAHEINA */

.sobre-faheina img{ width: 280px; height: 200px; float: left; }
.sobre-faheina p{ float: left; margin-left: 20px; width: 550px; }

.equipe-faheina{ margin-top: 35px; margin-bottom: 30px; }
.equipe-faheina img{ width: 600px; margin-left: 125px; }

/* MENU */

nav.menu{ margin: 0 auto; text-align: center;}
nav.menu li{ margin-left: 10px; padding: 28px 12px 28px 16px; text-transform: uppercase;  display: inline-block; }
nav.menu li:first-child{ margin-left:0; }
nav.menu li.active{ background:#e5e5e5; border-top: 2px solid #3d6941; }
nav.menu li a{ color: #333333; font-weight: bold; display:inline-block;}
nav.menu li.active a, nav.menu li.hover a{ color: #3d6941; }

/* TOPBAR */

.line-gray-small{ height: 2px; background: #e5e5e5; }
.line-gray{ height: 7px; background: #9d9c9c; margin-bottom: 25px; }
.logo img{ width: 280px; }
.top-bar .logo{ padding: 15px 0;  float: left;}
.topo_menu{ float: right; }
.top-info{ color: #333; padding: 8px 0; font-size: 10px; }
.top-info img{ width: 14px; margin-right: 5px; margin-top: -4px; }

/* CONTATO */

.map_clinica{ width: 820px; min-height: 200px; background: black; margin-bottom: 35px; }
.contato .contato{ float: left; width: 210px; }
.contato .contato p{ margin: 0; }
.contato .mensagem{ float: right; width: 550px; margin-right: 30px; }
.wrapper.contato{ margin-bottom: 50px; }

label{ display: block; margin-bottom: 5px }
fieldset{ width: 142px; float: left; }
fieldset.first{ margin-right: 16px; }
input[type='text'], textarea{ outline: none; border: 1px solid #999; padding: 7px 10px; color: #333; width: 528px;
                              margin-bottom: 15px; }
input[type='submit']{ background: #EEE; border: 1px solid #999; color: #888; float: right; width: 120px; height: 25px; }
form::after{ content:''; display:block; clear: both; }
fieldset input[type='text']{ width: 245px; }
/* FIM DO CONTATO */

/* FOOTER */

footer{ background: #e5e5e5;  padding: 15px 0 0; margin-top: 10px; color: #000; }
footer .widget{ width: 20%; float: left; margin-right: 6.6%; }
footer .widget:last-child{ margin-right: 0; }
footer .widget h3{ color:  #6b7a87; font-size: 17px; margin-bottom: 10px;}
footer .widget img[src$="logodrpb.png"]{ width: 180px; margin: 0 0 10px;}
footer .widget a{ font-size: 11px; color: #333333; }
footer .widget ul li{ margin-bottom: 8px; padding-bottom: 7px; background: url(images/traco.png) no-repeat; background-size: 80px 3px; background-position: 0 100%; }
footer .widget p.contato{ font-weight: normal; font-size: 10px; text-align: center; }
footer .widget p.contato span{ text-transform: uppercase; }
footer .social-icon img{ width: 20px; }
footer .social-icon{ margin-left: 10px; }
footer .social-icon:first-child{ margin-right: 0;}
footer .widget.sobre{ width: 290px; }
footer h3.contato{ text-align: center; }
footer .widget.social{ float: right; width: 98px; }
footer h3.social{ text-align: right; }
footer .bottom{ padding: 20px; text-align: center; background: #3d6941; color: #FFF; margin-top: 20px; }

/* FIM DO FOOTER */

/* SLIDER */

#slider{ width: 100%; height: 410px;  position: relative; overflow: hidden; margin-bottom: 40px;}
.item_slider{ padding: 105px 0 0 265px; height: 305px; }
.item_slider p{ margin: 20px 0; font-size: 15px; color: #ddd; background: rgba(0,0,0,0.75);  padding: 10px; float: left; clear: both; border-left: 4px solid #3d6941;  max-width: 400px;}
.item_slider p.title{ font-size: 21px; font-weight: bold; margin-top: -45px; max-width: 600px; }
.arrow{ width: 55px; position: absolute; bottom: 0px; }
.arrow.left{ left:0; }
.arrow.right{  right:0; }
/* FIM DO SLIDER */

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #DDDDDD!important;
    background: #3d6941!important;
}