html, body { height: 100%; min-width: 1000px;margin: 0; padding: 0; font-family: 'Open Sans'; font-size: 12px; color: #333333;}
body{ background: url(images/fundo.jpg); background-size: 100% 100%; }
b, strong, p{ font-weight: bold; }
.wrapper{ width: 850px; margin: 0 auto; 
                background: url(images/fundo-branco.png) no-repeat; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -ms-background-size: 100% 100%;
  background-size: 100% 100%; padding: 75px 120px; }
div.logo{ margin: -130px 0 30px; }
img.chapeu{ width: 90px; z-index: 2; margin:-50px 0 0 -60px; display:none; }
img.enfeite{ position: relative; left: 758px; width: 190px; top: -65px; }
img.logo{ width: 250px; z-index: 1; }
img.papainoel{ width: 220px; margin: 60px 0 -90px -65px; }
img.arvoredenatal{ width: 200px; height: 260px; margin: -255px 0 -155px 730px; }
.ie7 img.papainoel{ margin-top: 55px; }
.ie7 img.arvoredenatal{ margin-top: -185px; }
.content{ width: 400px; float: left; }
.content p.info{ color:  #9d3133; margin-bottom: 10px;
font-size: 15px;}

.contact{ width: 300px; float: right;  }
label{ display: block; margin-bottom: 5px }
fieldset{ width: 142px; float: left; }
fieldset.first{ margin-right: 16px; }
input[type='text'], textarea{ outline: none; border: 1px solid #999; padding: 7px 10px; color: #333; width: 280px; 
                              margin-bottom: 15px; }
input[type='submit']{ background: #EEE; border: 1px solid #999; color: #888; float: right; width: 120px; height: 25px; }
form::after{ content:''; display:block; clear: both; }
fieldset input[type='text']{ width: 120px; }

footer{ color: white; font-size: 10px; margin: -25px auto 0;  width: 850px; text-align: center; }
footer img{ width: 14px; }
footer p{ display: inline; }
.gecko footer{ font-size: 9px; }

ul{ padding: 0; }
ul, li, ol{ list-style: none; }
ul.messages{ margin: -37px 0 0 0; }
ul.messages > li{ margin-bottom: 5px; font-weight: bold; }
ul.messages > li.success{ color: #08700c; }
ul.messages > li.error{ color: #CE3131; margin-bottom: 21px; }
